.signIn {
    /* background-image: url("../Image/instabackground.jpg"); */
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; 

}
.loginForm{
    background-color: #fff;
    padding: 30px;
    border: 1px solid rgb(129,121,121);
    border-radius: 1px;
}
#login-btn {
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: bold;
    padding: 5px 10px;
    /* width: 80%; */
    cursor: pointer;
    margin-top: 8px;
}
.loginform2{
    background-color: #fff;
    padding: 30px;
    border: 1px solid rgb(129,121,121);
    margin-top: 5px;
    border-radius: 1px;
  margin-bottom: 40%;
}  
.form-countainer-signIn{
    margin-top: 5%;
    width: 350px;

}
